@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

:root{
    --split-left: black;
    --split-right: black;
    --primary-color: white;
}

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    font-weight: bold;
    font-size: 1em;
}

